<div class="crates-global-wrapper">
  <h1><a href="#crates">Crates</a></h1>
  {% for section in site.data.crates %}
  <div class="crates-section-wrapper">
    <div class="crates-section-title">
      <i class="crates-section-icon fa fa-{{ section.icon }}" aria-hidden="true"></i>
      <h2 class="crates-section-name">{{ section.name }}</h2>
    </div>
    <div class="crates-container">
      {% for crate in section.crates %}
      <div class="crate-wrapper">
        <div class="crate-name">{{ crate.name }}</div>
        <div class="crate-description">{{ crate.description }}</div>
        <div class="crate-footer">
          {% if crate.repo %}
            <a href="{{ crate.repo }}" ><i class="fa fa-code-fork" aria-hidden="true"></i></a>
          {% endif %}
          {% if crate.docs %}
            <a href="{{ crate.docs }}" ><i class="fa fa-book" aria-hidden="true"></i></a>
          {% endif %}
          {% if crate.crates %}
            <a href="{{ crate.crates }}" ><i class="fa fa-cube" aria-hidden="true"></i></a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  <!--
    # ## Even more
    # 
    # For more crates check the following categories on crates.io:
    # 
    # - [Embedded Development](https://crates.io/categories/embedded)
    # - [Hardware Support](https://crates.io/categories/hardware-support)
    # - [No Standard Library](https://crates.io/categories/no-std)
  -->
