<div class="platforms-global-wrapper">
  {% for platform in site.data.platforms %}
    <div>
      <h1>{{ platform.name }}</h1>
      <div class="platform-status-indicator">
        {% for status in site.data.platform_status  %}
          <div class="platform-status-wrapper">
            {% if forloop.index0 <= platform.status %}
              <div class="platform-status-circle platform-status-complete" >{{forloop.index0}}</div>
              <div class="platform-status-complete-description">{{ status }}</div>
            {% else %}
              <div class="platform-status-circle platform-status-incomplete" >{{forloop.index0}}</div>
              <div class="platform-status-incomplete-description">{{ status }}</div>
            {% endif %}
          </div>
          {% if forloop.index < site.data.platform_status.size %}
            <div class="platform-status-separator"></div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
