.platform-status-wrapper {
  display: flex;
  flex-direction: row;
}
.platform-status-indicator {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}

$stepper-size: 30px;
.platform-status-circle {
  width: $stepper-size;
  height: $stepper-size;
  border-radius: $stepper-size / 2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.platform-status-complete {
  background-color: $indigo-color;
}
.platform-status-incomplete {
  background-color: $grey-color;
}

.platform-status-complete-description {
  margin: auto;
}
.platform-status-incomplete-description {
  color: $grey-color-dark;
  margin: auto;
}

.platform-status-separator {
  height: 1px;
  background-color: lighten($grey-color, 15%);
  flex: 1;
  width: 20px;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: auto;
  margin-bottom: auto;
}


$crates-section-size: 220px;

.crates-section-wrapper
.crates-global-wrapper {
	display: flex;
	flex-direction: column;
}

.crates-section-title {
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	line-height: 1.5;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.crates-section-icon {
	font-size: 20px !important;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
}

.crates-section-name {
	margin-left: 20px;
	margin-bottom: 0;
}
.crates-container {
	display: flex;
	flex-direction: row;
	height: $crates-section-size;
}

.crate-wrapper:not(:last-of-type) {
}

.crate-wrapper:hover {
	background-color: #3949ab;
}
.crate-wrapper {
	max-width: $crates-section-size;
	max-height: $crates-section-size;
	min-width: $crates-section-size;
	min-height: $crates-section-size;
	color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 10px;
	margin-left: 10px;
  padding: 5px;
	background-color: #5c6bc0;
}
.crate-name {
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-weight: 700;
}
.crate-description {
	font-size: 14px;
	padding: 2px;
}
.crate-footer {
	width: 100%;
	font-size: 15px;
	display: flex;
	flex-direction: row;
	justify-content: end;
  font-size: 20px;
}
.crate-footer > a > i {
	margin: 5px;
	color: #DDD;

	&:hover {
		color: #EEE;
	}
}

/**
 * Site header
 */
.site-header {
  color: $header-color;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}

.site-nav {
  font-size: 18px;
  float: left;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $header-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}


.frontpage {
  background: #1B1C1D;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url($baseurl + "/assets/frontpage-background.jpg") no-repeat;
  background-position: center;
  background-size: cover;

  color: rgba(255,255,255,1.0);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
}

.frontpage-logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  height: 30%;
  max-width: 512px;
  max-height: 512px;
}
.frontpage-middle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  text-align: middle;
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
