<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="frontpage">
      {% include header.html %}
      <img
         src="{{ site.baseurl }}/assets/rust-logo-blk.svg"
         class="frontpage-logo"
         alt="Rust Logo"
         />
      <div class="frontpage-middle">
        <h1>Are we embedded yet?</h1>
        <h2>WIP</h2>
        <a href="#description" />Start here</a>
      </div>
    </div>
    <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="home">
        {{ content }}
      </div>
    </div>
    </main>

    {% include footer.html %}

  </body>

</html>
